@charset "UTF-8";
/*MIXIN HTML NOSOTROS*/
/*GRID AREAS HTML NOSOTROS*/
.contenedorMainNosotros {
  background-color: #202020;
  display: grid;
  grid-template-areas: "titulo1 titulo1" "parrafo1 parrafo1" "imagen1 imagen2"  "imagen3 imagen4" "titulo2 titulo2 " "parrafo2 parrafo2"; }
  .contenedorMainNosotros .titulo1Nosotros {
    text-align: center;
    color: blanchedalmond;
    margin-top: 5rem;
    margin-bottom: 2rem;
    grid-area: titulo1; }
  .contenedorMainNosotros .parrafo1Nosotros {
    text-align: center;
    color: blanchedalmond;
    margin-bottom: 4rem;
    grid-area: parrafo1; }
  .contenedorMainNosotros .imagen1Nosotros {
    grid-area: imagen1; }
    .contenedorMainNosotros .imagen1Nosotros article {
      display: flex;
      flex-direction: column; }
    .contenedorMainNosotros .imagen1Nosotros img {
      max-width: fit-content;
      max-height: fit-content;
      margin-top: 30px;
      margin-bottom: 15px;
      margin-left: 6rem; }
    .contenedorMainNosotros .imagen1Nosotros h4 {
      text-align: center;
      color: blanchedalmond; }
    .contenedorMainNosotros .imagen1Nosotros p {
      text-align: center;
      color: blanchedalmond;
      padding: 5px; }
  .contenedorMainNosotros .imagen2Nosotros {
    grid-area: imagen2; }
    .contenedorMainNosotros .imagen2Nosotros article {
      display: flex;
      flex-direction: column; }
    .contenedorMainNosotros .imagen2Nosotros img {
      max-width: fit-content;
      max-height: fit-content;
      margin-top: 30px;
      margin-bottom: 15px;
      margin-left: 6rem; }
    .contenedorMainNosotros .imagen2Nosotros h4 {
      text-align: center;
      color: blanchedalmond; }
    .contenedorMainNosotros .imagen2Nosotros p {
      text-align: center;
      color: blanchedalmond;
      padding: 5px; }
  .contenedorMainNosotros .imagen3Nosotros {
    grid-area: imagen3; }
    .contenedorMainNosotros .imagen3Nosotros article {
      display: flex;
      flex-direction: column; }
    .contenedorMainNosotros .imagen3Nosotros img {
      max-width: fit-content;
      max-height: fit-content;
      margin-top: 30px;
      margin-bottom: 15px;
      margin-left: 6rem; }
    .contenedorMainNosotros .imagen3Nosotros h4 {
      text-align: center;
      color: blanchedalmond; }
    .contenedorMainNosotros .imagen3Nosotros p {
      text-align: center;
      color: blanchedalmond;
      padding: 5px; }
  .contenedorMainNosotros .imagen4Nosotros {
    grid-area: imagen4; }
    .contenedorMainNosotros .imagen4Nosotros article {
      display: flex;
      flex-direction: column; }
    .contenedorMainNosotros .imagen4Nosotros img {
      max-width: fit-content;
      max-height: fit-content;
      margin-top: 30px;
      margin-bottom: 15px;
      margin-left: 6rem; }
    .contenedorMainNosotros .imagen4Nosotros h4 {
      text-align: center;
      color: blanchedalmond; }
    .contenedorMainNosotros .imagen4Nosotros p {
      text-align: center;
      color: blanchedalmond;
      padding: 5px; }
  .contenedorMainNosotros .titulo2Nosotros {
    text-align: center;
    color: blanchedalmond;
    grid-area: titulo2;
    margin-top: 5rem;
    margin-bottom: 2rem; }
  .contenedorMainNosotros .parrafo2Nosotros {
    text-align: center;
    color: blanchedalmond;
    margin-bottom: 4rem;
    grid-area: parrafo2; }

/*MEDIA QUERIE MOBILE HTML NOSOTROS*/
@media only screen and (max-width: 600px) {
  .contenedorMainNosotros {
    display: grid;
    grid-template-areas: "titulo1" "parrafo1" "imagen1" "imagen2" "imagen3" "imagen4" "titulo2" "parrafo2"; }
  .imagen1Nosotros {
    display: flex;
    justify-content: center; }
  .imagen2Nosotros {
    display: flex;
    justify-content: center; }
  .imagen3Nosotros {
    display: flex;
    justify-content: center; }
  .imagen4Nosotros {
    display: flex;
    justify-content: center; } }

/*HTML SERVICIOS GRIDS*/
.contenedorMainServicios {
  background-color: #202020;
  display: grid;
  grid-template-areas: "titulo1Servicios titulo1Servicios titulo1Servicios" "section1Servicios img1Servicios img1Servicios" "img2Servicios img2Servicios section2Servicios" "section3Servicios img3Servicios img3Servicios" "titulo2Servicios titulo2Servicios titulo2Servicios " "sectionAlCapone sectionTonyMontana sectionDonCorleone"; }
  .contenedorMainServicios .titulo1Servicios {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 4rem;
    color: blanchedalmond;
    grid-area: titulo1Servicios; }
  .contenedorMainServicios .section1Servicios {
    grid-area: section1Servicios; }
  .contenedorMainServicios .img1Servicios {
    grid-area: img1Servicios;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem; }
  .contenedorMainServicios .section2Servicios {
    grid-area: section2Servicios; }
  .contenedorMainServicios .img2Servicios {
    grid-area: img2Servicios;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem; }
  .contenedorMainServicios .section3Servicios {
    grid-area: section3Servicios; }
  .contenedorMainServicios .img3Servicios {
    grid-area: img3Servicios;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem; }
  .contenedorMainServicios .titulo2Servicios {
    margin-top: 5rem;
    margin-bottom: 4rem;
    color: blanchedalmond;
    text-align: center;
    grid-area: titulo2Servicios; }
  .contenedorMainServicios .sectionAlCapone {
    grid-area: sectionAlCapone; }
  .contenedorMainServicios .sectionTonyMontana {
    grid-area: sectionTonyMontana; }
  .contenedorMainServicios .sectionDonCorleone {
    grid-area: sectionDonCorleone;
    margin-bottom: 3rem; }

/*MEDIA QUERIE MOBILE HTML SERVICIOS*/
@media only screen and (max-width: 600px) {
  .contenedorMainServicios {
    display: grid;
    grid-template-areas: "titulo1Servicios" "img1Servicios " "section1Servicios " "img2Servicios" "section2Servicios" "img3Servicios" "section3Servicios" "titulo2Servicios" "sectionAlCapone " "sectionTonyMontana" "sectionDonCorleone"; }
  .img1Servicios {
    display: flex;
    justify-content: center;
    margin-bottom: 0rem; }
  .section1Servicios {
    margin-bottom: 4rem; }
  .img2Servicios {
    display: flex;
    justify-content: center;
    margin-bottom: 0rem; }
  .section2Servicios {
    margin-bottom: 4rem; }
  .img3Servicios {
    display: flex;
    justify-content: center;
    margin-bottom: 0rem; }
  .section1Servicios {
    margin-bottom: 4rem; } }

/*HTML MULTIMEDIA GRIDS*/
.contenedorMainMultimedia {
  justify-content: space-around;
  display: grid;
  grid-template-areas: "titulo1Multimedia videoMultimedia videoMultimedia" "titulo2Multimedia titulo2Multimedia titulo2Multimedia" "img1Multimedia img2Multimedia img3Multimedia" "img4Multimedia img5Multimedia img6Multimedia"; }
  .contenedorMainMultimedia .titulo1Multimedia {
    color: blanchedalmond;
    text-align: center;
    margin-top: 17rem;
    margin-left: 8rem;
    grid-area: titulo1Multimedia; }
  .contenedorMainMultimedia .videoMultimedia {
    margin-top: 4rem;
    grid-area: videoMultimedia; }
  .contenedorMainMultimedia .titulo2Multimedia {
    grid-area: titulo2Multimedia; }
  .contenedorMainMultimedia .img1Multimedia {
    grid-area: img1Multimedia; }
  .contenedorMainMultimedia .img2Multimedia {
    grid-area: img2Multimedia; }
  .contenedorMainMultimedia .img3Multimedia {
    grid-area: img3Multimedia; }
  .contenedorMainMultimedia .img4Multimedia {
    grid-area: img4Multimedia; }
  .contenedorMainMultimedia .img5Multimedia {
    grid-area: img5Multimedia; }
  .contenedorMainMultimedia .img6Multimedia {
    grid-area: img6Multimedia; }

/*MEDIA QUERIE MOBILE HTML MULTIMEDIA*/
@media only screen and (max-width: 600px) {
  .contenedorMainMultimedia {
    display: grid;
    grid-template-areas: "titulo1Multimedia" "videoMultimedia" "titulo2Multimedia" "img1Multimedia" "img2Multimedia" "img3Multimedia" "img4Multimedia" "img5Multimedia" "img6Multimedia";
    justify-content: center; }
  .titulo1Multimedia {
    color: blanchedalmond;
    text-align: center;
    margin-top: 5rem;
    text-align: center; }
  .img1Multimedia {
    display: flex;
    justify-content: center; }
  .img2Multimedia {
    display: flex;
    justify-content: center; }
  .img3Multimedia {
    display: flex;
    justify-content: center; }
  .img4Multimedia {
    display: flex;
    justify-content: center; }
  .img5Multimedia {
    display: flex;
    justify-content: center; }
  .img6Multimedia {
    display: flex;
    justify-content: center; } }

/*class para los items del formulario*/
.itemsFormulario {
  text-align: left;
  margin: 10px;
  color: blanchedalmond;
  padding: 5px; }

.itemsFormulario1 {
  text-align: left;
  margin: 10px;
  padding: 5px; }

/*EXTEND PARA HEADER Y FOOTER*/
.iconosRedesHeader, .iconosRedesFooter {
  height: 1.4rem;
  margin: 0.5rem;
  transition: 0.5s; }
  .iconosRedesHeader:hover, .iconosRedesFooter:hover {
    transform: scale(1.2); }

/*MIXIN*/
/*MAPAS*/
/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*HEADER (PARA TODOS LOS HTML EL MISMO)*/
header {
  background-color: #292828;
  display: grid;
  padding: 20px;
  border: solid #202020;
  position: sticky;
  top: 0px;
  height: 7rem;
  grid-template-areas: "logo nav iconosHeader";
  grid-template-columns: 1fr 3fr 1fr; }
  header .contenedorLogo {
    color: blanchedalmond;
    grid-area: logo; }
  header .contenedorIconosHeader {
    grid-area: iconosHeader; }
  header .contenedorNav {
    margin: 10px;
    grid-area: nav;
    display: flex;
    align-items: center; }
  header .contenedorMenu {
    display: flex; }
  header li {
    margin: 0.5rem;
    list-style: none;
    transition: 0.5s; }
    header li:hover {
      transform: scale(1.2); }
  header a {
    color: blanchedalmond;
    text-decoration: none; }
    header a:hover {
      text-decoration: none;
      color: whitesmoke; }

/*MEDIA QUERIES MOBILE PARA EL HEADER*/
@media only screen and (max-width: 600px) {
  header {
    display: grid;
    grid-template-areas: "logo" "nav";
    justify-content: center; }
  .contenedorIconosHeader {
    display: none; } }

/*FOOTER (PARA TODOS LOS HTML EL MISMO)*/
footer {
  display: grid;
  padding: 20px;
  background-color: #292828;
  border: solid #202020;
  height: 10rem;
  grid-template-areas: "iconosRedesFooter logoFooter" "derechos derechos";
  grid-template-columns: 4fr 1fr; }
  footer .logoFooter {
    color: blanchedalmond;
    text-align: right;
    padding-bottom: 25px;
    grid-area: logoFooter; }
  footer .textoDerechos {
    margin-right: 1rem;
    text-align: right;
    color: blanchedalmond;
    grid-area: derechos; }
  footer .contenedorIconosRedesFooter {
    grid-area: iconosRedesFooter; }

/*TAMAÑOS Y TRANSFORMACIONES DE ICONOS DE REDES PARA HEADER Y FOOTER*/
/*Estilo del main*/
main {
  background-color: #202020; }

/*Clase para los textos de color blanco*/
.textoBlanco {
  color: white; }

/*Estilo y posicionamiento para texto de Derechos*/
.textoDerechos {
  text-align: right;
  color: blanchedalmond;
  grid-area: derechos; }

/*para centrar los titulos*/
.tituloCentrado {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
  color: blanchedalmond; }

/*para centrar los textos*/
.textoCentrado {
  text-align: center;
  padding: 5px;
  color: blanchedalmond; }

article {
  padding: 1rem;
  margin: 1rem; }

/*posicionamiento de las imagenes en el html Nosotros*/
.imagenesNosotros {
  margin-top: 30px;
  margin-bottom: 15px; }

/*para los titulos alineados a la izquierda*/
.tituloIzquierda {
  text-align: left;
  padding: 20px;
  color: blanchedalmond; }
