

//VARIABLES

$colorPrincipalMain: rgb(32,32,32);
$backgroundHeaderAndFooter: rgb(41,40,40);

//IMPORT

@import "utilities/nosotros";
@import "utilities/servicios";
@import "utilities/multimedia";
@import "utilities/reservas";
@import "utilities/productos";

/*EXTEND PARA HEADER Y FOOTER*/

%estiloIconosRedes {
    /*height: 1.4rem;*/
    margin: 0.5rem;
    transition: 0.5s;
    &:hover{
        transform: scale(1.2);
    }    
}

/*MIXIN*/

@mixin gridPadding {
    display: grid;
    padding: 1.25rem;
    
}


/*MAPAS*/
$colorMasAlineacion: (
    color: blanchedalmond,
    text-align: right,
);



/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*HEADER (PARA TODOS LOS HTML EL MISMO MENOS PARA EL DE PRODUCTOS (el estilo del header del html productos esta en su hoja de sass)*/

.headerGeneral{
    font-family: 'Roboto', sans-serif;
    background-color: $backgroundHeaderAndFooter;
    @include gridPadding;    
    border: solid rgb(32, 32, 32);
    position: sticky;
    z-index: 1000;
    top: 0px;
    height: 7rem;    
    grid-template-areas: "logo nav iconosHeader";
    grid-template-columns: 1fr 3fr 1fr;
    .contenedorLogo{
        transition: 0.5s;
        &:hover{
            transform: scale(1.1);
        }           
        color: map-get($map: $colorMasAlineacion, $key:color );
        grid-area: logo;
    }
    .contenedorIconosHeader{
        grid-area: iconosHeader;
        /*margin-top: 1rem;
        margin-left: 5.5rem;*/
       
            
    }
    .contenedorNav{
        grid-area: nav;
        margin: 0.62rem;        
        display: flex;
        align-items: center;  
    }
        .contenedorMenu{
            font-size: 1.1rem;
            display: flex;
            margin-left: 5rem;
            margin-top: 1.5rem;
        }        
            li{                
                margin: 0.5rem;
                list-style: none;
                transition: 0.5s;
                &:hover{
                    transform: scale(1.2);

                }
                
            }
            a{
                color: blanchedalmond;
                text-decoration: none;
                
                &:hover{
                    text-decoration: none;
                    color: whitesmoke;
                    
                }
            }
                
}

/*MEDIA QUERIES MOBILE PARA EL HEADER (PARA TODOS LOS HTML EL MISMO MENOS PARA EL DE PRODUCTOS (el estilo del header del html productos esta en su hoja de sass)*/

@media only screen and (max-width:768px){
    .headerGeneral{
        height: 20em;        
        padding: 0px;
        grid-template-areas: "logo logo nav iconosHeader";
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
    }

        .contenedorIconosHeader{
            display: none;
        }
        .contenedorLogo{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                height: 50%;
                width: 90%;
                
                
            }
        }
        .contenedorNav{
            margin: 0px;
            
              
            .contenedorMenu{
                display: flex;                
                flex-direction: column;
                align-items: center;
                margin: 0px;            
                
                
                font-size: 1.5em;
                
                
                
            }

        }
}

/*MEDIA QUERIES TABLET PARA EL HEADER (PARA TODOS LOS HTML EL MISMO MENOS PARA EL DE PRODUCTOS (el estilo del header del html productos esta en su hoja de sass)*/

@media only screen and (min-width: 769px) and (max-width:1024px){
    .headerGeneral{
        height: 22em;
        display: grid;
        padding: 0px;
        grid-template-areas: "logo nav iconosHeader";
        grid-template-columns: 4fr 1fr 1fr;        
        justify-content: center;
    }

        
        
        .contenedorLogo{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                height: 60%;
                width: 80%;
                
                
            }
        }
        .contenedorNav{
            
            
              
            .contenedorMenu{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0px;
                margin: 0px;
                
                
                
                
                
            }

        }
        .contenedorIconosHeader{
           margin-left: 5em;
           margin-bottom: 3em;


      
            .iconosRedesHeader{
                display: flex;
                margin-top: 3em;
                margin-bottom: 1em;
                justify-content: center
            }
    }
}





/*FOOTER (PARA TODOS LOS HTML EL MISMO)*/

footer{
    font-family: 'Roboto', sans-serif;
    @include gridPadding;  
    background-color: $backgroundHeaderAndFooter;    
    border: solid rgb(32, 32, 32);
    height: 10rem;  
    grid-template-areas:  "iconosRedesFooter logoFooter"
                          "derechos derechos" ;
    grid-template-columns: 4fr 1fr;
    .logoFooter{
        transition: 0.5s;
        &:hover{
            transform: scale(1.1);
        }           
        color: map-get($map: $colorMasAlineacion, $key:color );
        grid-area: logoFooter;
    }
    .textoDerechos{
        margin-right: 1rem;       
        text-align: right;
        color: blanchedalmond;
        grid-area: derechos;
    }
    .contenedorIconosRedesFooter{
        grid-area: iconosRedesFooter;
        margin-top: 2rem;
    }
}

/*MEDIA QUERIES TABLET PARA EL FOOTER*/

@media only screen and (min-width:601px) and (max-width:1024px){
    footer{
        padding: 0px;
        grid-template-areas:  "iconosRedesFooter logoFooter"
                              "iconosRedesFooter derechos" ;
        grid-template-columns: 1fr 2fr;

        .logoFooter{
            margin: auto;        
            width: 60%;
             
            
         
        }
        .contenedorIconosRedesFooter{
            
            flex-direction: column;
            margin-left: 0.5em;
        }
        .textoDerechos{
            text-align: center;
        }
    }

}

/*MEDIA QUERIES MOBILE PARA EL FOOTER*/

@media only screen and (max-width:600px){
    footer{
        padding: 0px;
        grid-template-areas:  "iconosRedesFooter logoFooter"
                              "iconosRedesFooter derechos" ;
        grid-template-columns: 1fr 2fr;
        .logoFooter{
            width: 80%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
        .contenedorIconosRedesFooter{
            display: flex;
            flex-direction: column;
            margin-left: 0.5em;
            margin: 0px;
            img{
                width: 15%;
            
            }
        }
        .textoDerechos{
            text-align: center;
        }
    }


}



/*MEDIA QUERIES TABLET PARA EL FOOTER

@media only screen and (min-widht:769px) and (max-width:1024px){
    

    footer{
        padding: 0px;
        grid-template-areas:  "iconosRedesFooter logoFooter"
                              "iconosRedesFooter derechos" ;
        grid-template-columns: 1fr 2fr;                  

        }
        .logoFooter{
            margin: auto;
            width: 80%;
        }
        .contenedorIconosRedesFooter{
            
            flex-direction: column;
            margin-left: 0.5em;
        }
    } */




/*TAMAÑOS Y TRANSFORMACIONES DE ICONOS DE REDES PARA HEADER Y FOOTER*/

.iconosRedesHeader{
    @extend %estiloIconosRedes;    
}

.iconosRedesFooter{
    @extend %estiloIconosRedes;  
}


/*Estilo del main*/
main {
    background-color: rgb(32, 32, 32);
    }




/*Clase para los textos de color blanco*/
.textoBlanco {
    color: white;    
}

/*Estilo y posicionamiento para texto de Derechos*/
.textoDerechos {
    text-align: right;
    color: blanchedalmond;
    grid-area: derechos;
}


/*para centrar los titulos*/
.tituloCentrado {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
    color: blanchedalmond;
}

/*para centrar los textos*/
.textoCentrado {
    text-align: center;
    padding: 0.31rem;
    color: blanchedalmond;
}


article {
    padding: 1rem;
    margin: 1rem;
}


/*posicionamiento de las imagenes en el html Nosotros*/
.imagenesNosotros {
    margin-top: 1.87rem;
    margin-bottom: 0.93rem;
}


/*para los titulos alineados a la izquierda*/
.tituloIzquierda {
    text-align: left;
    padding: 1.25rem;
    color: blanchedalmond;
}


