

//VARIABLES

$colorPrincipalMain: rgb(32,32,32);
$backgroundHeaderAndFooter: rgb(41,40,40);

//IMPORT

@import "utilities/nosotros";
@import "utilities/servicios";
@import "utilities/multimedia";
@import "utilities/reservas";

/*EXTEND PARA HEADER Y FOOTER*/

%estiloIconosRedes {
    height: 1.4rem;
    margin: 0.5rem;
    transition: 0.5s;
    &:hover{
        transform: scale(1.2);
    }    
}

/*MIXIN*/

@mixin gridPadding {
    display: grid;
    padding: 20px;
    
}


/*MAPAS*/
$colorMasAlineacion: (
    color: blanchedalmond,
    text-align: right,
);



/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER (PARA TODOS LOS HTML EL MISMO)*/

header{
    background-color: $backgroundHeaderAndFooter;
    @include gridPadding;    
    border: solid rgb(32, 32, 32);
    position: sticky;
    top: 0px;
    height: 7rem;    
    grid-template-areas: "logo nav iconosHeader";
    grid-template-columns: 1fr 3fr 1fr;
    .contenedorLogo{
        color: map-get($map: $colorMasAlineacion, $key:color );
        grid-area: logo;
    }
    .contenedorIconosHeader{
        grid-area: iconosHeader;
            
    }
    .contenedorNav{
        margin: 10px;
        grid-area: nav;
        display: flex;
        align-items: center;  
    }
        .contenedorMenu{
            
            display: flex;
        }        
            li{                
                margin: 0.5rem;
                list-style: none;
                transition: 0.5s;
                &:hover{
                    transform: scale(1.2);

                }
                
            }
            a{
                color: blanchedalmond;
                text-decoration: none;
                
                &:hover{
                    text-decoration: none;
                    color: whitesmoke;
                    
                }
            }
                
}

/*MEDIA QUERIES MOBILE PARA EL HEADER*/

@media only screen and (max-width:600px){
    header{
        display: grid;
        grid-template-areas: "logo"
                             "nav";
        justify-content: center;
    }

        .contenedorIconosHeader{
            display: none;
        }
}



/*FOOTER (PARA TODOS LOS HTML EL MISMO)*/

footer{
    @include gridPadding;  
    background-color: $backgroundHeaderAndFooter;    
    border: solid rgb(32, 32, 32);
    height: 7rem;  
    grid-template-areas:  "iconosRedesFooter logoFooter"
                          "derechos derechos" ;
    .logoFooter{
        color: blanchedalmond;
        text-align: right;
        padding-bottom: 25px;
        grid-area: logoFooter;
    }
    .textoDerechos{
        text-align: right;
        color: blanchedalmond;
        grid-area: derechos;
    }
    .contenedorIconosRedesFooter{
        grid-area: iconosRedesFooter;
    }
}

/*TAMAÑOS Y TRANSFORMACIONES DE ICONOS DE REDES PARA HEADER Y FOOTER*/

.iconosRedesHeader{
    @extend %estiloIconosRedes;    
}

.iconosRedesFooter{
    @extend %estiloIconosRedes;  
}


/*Estilo del main*/
main {
    background-color: rgb(32, 32, 32);
    }




/*Clase para los textos de color blanco*/
.textoBlanco {
    color: white;    
}

/*Estilo y posicionamiento para texto de Derechos*/
.textoDerechos {
    text-align: right;
    color: blanchedalmond;
    grid-area: derechos;
}


/*para centrar los titulos*/
.tituloCentrado {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
    color: blanchedalmond;
}

/*para centrar los textos*/
.textoCentrado {
    text-align: center;
    padding: 5px;
    color: blanchedalmond;
}


article {
    padding: 1rem;
    margin: 1rem;
}


/*posicionamiento de las imagenes en el html Nosotros*/
.imagenesNosotros {
    margin-top: 30px;
    margin-bottom: 15px;
}


/*para los titulos alineados a la izquierda*/
.tituloIzquierda {
    text-align: left;
    padding: 20px;
    color: blanchedalmond;
}


