/*MIXIN HTML NOSOTROS*/

@mixin centradoBlanchedalmond{
    text-align: center;
    color: blanchedalmond;
}




/*GRID AREAS HTML NOSOTROS*/

.contenedorMainNosotros{
    background-color: $colorPrincipalMain;
    display: grid;
    grid-template-areas: "titulo1 titulo1"
                         "parrafo1 parrafo1"
                         "imagen1 imagen2" 
                         "imagen3 imagen4"
                         "titulo2 titulo2 "
                         "parrafo2 parrafo2";
    
        .titulo1Nosotros{
            @include centradoBlanchedalmond;
            margin-top: 5rem;
            margin-bottom: 2rem;            
            grid-area: titulo1;

        }

        .parrafo1Nosotros{
            @include centradoBlanchedalmond;            
            margin-bottom: 4rem;            
            grid-area: parrafo1;
        }
        .imagen1Nosotros{
            grid-area: imagen1;

            article{
                display: flex;
                flex-direction: column;
            }
            
            
                img{
                    max-width: fit-content;
                    max-height: fit-content;
                    margin-top: 30px;
                    margin-bottom: 15px;
                    margin-left: 6rem
                
                }
                h4{
                    @include centradoBlanchedalmond;
                }
                p{
                    @include centradoBlanchedalmond;                
                    padding: 5px;
                    
                }
            
        }
        .imagen2Nosotros{
            grid-area: imagen2;

            article{
                display: flex;
                flex-direction: column;
            }


                img{
                    max-width: fit-content;
                    max-height: fit-content;
                    margin-top: 30px;
                    margin-bottom: 15px;
                    margin-left: 6rem
                }
                h4{
                    @include centradoBlanchedalmond;
                }
                p{
                    @include centradoBlanchedalmond;                
                    padding: 5px;                
                }
            
        }
        
        .imagen3Nosotros{
            grid-area: imagen3;

            article{
                display: flex;
                flex-direction: column;
            }
            

                img{
                    max-width: fit-content;
                    max-height: fit-content;
                    margin-top: 30px;
                    margin-bottom: 15px;
                    margin-left: 6rem
                }
                h4{
                    @include centradoBlanchedalmond;
                }
                p{
                    @include centradoBlanchedalmond;                
                    padding: 5px;                
                }
            
            
        }
        
        .imagen4Nosotros{
            grid-area: imagen4;

            article{
                display: flex;
                flex-direction: column;
            }

            
                img{
                    max-width: fit-content;
                    max-height: fit-content;
                    margin-top: 30px;
                    margin-bottom: 15px;
                    margin-left: 6rem
                }
                h4{
                    @include centradoBlanchedalmond;
                }
                p{
                    @include centradoBlanchedalmond;                
                    padding: 5px;                
                }
            
        }
        
        .titulo2Nosotros{
            @include centradoBlanchedalmond;
            grid-area: titulo2;            
            margin-top: 5rem;
            margin-bottom: 2rem;            
        }
        
        .parrafo2Nosotros{
            @include centradoBlanchedalmond;            
            margin-bottom: 4rem;            
            grid-area: parrafo2;
        }

}

/*MEDIA QUERIE MOBILE HTML NOSOTROS*/

@media only screen and (max-width:600px){
    .contenedorMainNosotros{
        display: grid;
        grid-template-areas: "titulo1"
                             "parrafo1"
                             "imagen1"
                             "imagen2"
                             "imagen3"
                             "imagen4"
                             "titulo2"
                             "parrafo2";
    
    }      
        .imagen1Nosotros{
            display: flex;
            justify-content: center;
        }
        
        .imagen2Nosotros{
            display: flex;
            justify-content: center;
        }
        
        .imagen3Nosotros{
            display: flex;
            justify-content: center;
        }
        
        .imagen4Nosotros{
            display: flex;
            justify-content: center;
        }

}
