/*MIXIN HTML NOSOTROS*/

@mixin centradoBlanchedalmond{
    text-align: center;
    color: blanchedalmond;
}






/*GRID AREAS HTML NOSOTROS*/

.contenedorMainNosotros{
    font-family: 'Roboto', sans-serif;
    background-color: $colorPrincipalMain;
    display: grid;
    grid-template-areas: "titulo1          titulo1"                         
                         "article1         article2" 
                         "article3         article4"
                         "titulo2          titulo2";
    
        .titulo1Nosotros{
            grid-area: titulo1;
            text-align: center;

            h1{
                @include centradoBlanchedalmond;
                margin-top: 5em;
                margin-bottom: 2em;      
            }
            p{
                @include centradoBlanchedalmond;            
                margin-bottom: 4em;            
               

            }      
        }

    
        .article1Nosotros{            
            grid-area: article1;
            display: flex;
            flex-direction: column;         
            
            
                img{
                    border: solid 1px grey;                    
                    margin-top: 1.87em;
                    margin-bottom: 0.93em;
                    margin-left: 6em;
                    transition: 0.5s;
                        &:hover{
                            transform: scale(1.05);
                }             
                    
                
                }
                h2{
                    @include centradoBlanchedalmond;
                }
                p{
                    @include centradoBlanchedalmond;                
                    padding: 0.31em;
                    
                }
            
        }
        .article2Nosotros{
            grid-area: article2;

            article{
                display: flex;
                flex-direction: column;
            }


                img{
                    border: solid 1px grey;
                   
                    margin-top: 1.87em;
                    margin-bottom: 0.93em;
                    margin-left: 6em;
                    transition: 0.5s;
                        &:hover{
                            transform: scale(1.05);
                }             
                }
                h2{
                    @include centradoBlanchedalmond;
                }
                p{
                    @include centradoBlanchedalmond;                
                    padding: 0.31em;                
                }
            
        }
        
        .article3Nosotros{
            grid-area: article3;

            article{
                display: flex;
                flex-direction: column;
            }
            

                img{
                    border: solid 1px grey;
                    
                    margin-top: 1.87em;
                    margin-bottom: 0.93em;
                    margin-left: 6em;
                    transition: 0.5s;
                        &:hover{
                            transform: scale(1.05);
            }      
                    
                }
                h2{
                    @include centradoBlanchedalmond;
                }
                p{
                    @include centradoBlanchedalmond;                
                    padding: 0.31em;                
                }
            
            
        }
        
        .article4Nosotros{
            grid-area: article4;

            article{
                display: flex;
                flex-direction: column;
            }

            
                img{
                    border: solid 1px grey;
                    
                    margin-top: 1.87em;
                    margin-bottom: 0.93em;
                    margin-left: 6em;
                    transition: 0.5s;
                        &:hover{
                            transform: scale(1.05);
            }      
                }
                h2{
                    @include centradoBlanchedalmond;
                }
                p{
                    @include centradoBlanchedalmond;                
                    padding: 0.31em;                
                }
            
        }
        
        .titulo2Nosotros{
            grid-area: titulo2;

            h3{            
                @include centradoBlanchedalmond;                        
                margin-top: 5em;
                margin-bottom: 2em;
                font-size: 1.8em;  
            }
            p{
                @include centradoBlanchedalmond;            
                margin-bottom: 4em;
                margin-left: 3em;  
                margin-right: 3em;          
                
            }
        }
        
        

}

/*MEDIA QUERIE MOBILE HTML NOSOTROS*/

@media only screen and (max-width:600px){
    header{
        font-size: 10px;
    }
    .contenedorMainNosotros{
        display: grid;
        grid-template-areas: "titulo1"                             
                             "article1"
                             "article2"
                             "article3"
                             "article4"
                             "titulo2";
    
    } 
        .titulo1Nosotros{
            text-align: center; 
            margin-top: -5em;
        }
        
        main div p{
            margin-top: -2em;
            margin-bottom: 2em;
            
        }
    
        .article1Nosotros{            
            padding-left: 2rem;

            .imagen1{
                display: flex;
                justify-content: center;
                img{
                    margin: 0px auto;
                    width: 90%;
                    margin-bottom: 1rem;                   
                }
                }

            .texto1{
                text-align: center;             
            }
            
            .texto1 p{
                margin-top: 0.5em;

            }
            
            
                
        

            
            
            
        }
        
        .article2Nosotros{
            
            padding-left: 2rem;

            .imagen2{
                display: flex;
                justify-content: center;
                img{
                    margin: 0px auto;
                    width: 90%;
                    margin-bottom: 1rem;                   
                }
                }

            .texto2{
                text-align: center;             
            }

            .texto2 p{
                margin-top: 0.5em;
            }
        }
        
        .article3Nosotros{
            
            padding-left: 2rem;

            .imagen3{
                display: flex;
                justify-content: center;
                img{
                    margin: 0px auto;
                    width: 90%;
                    margin-bottom: 1rem;                   
                }
                }

            .texto3{
                text-align: center;             
            }

            .texto3 p{
                margin-top: 0.5em;
            }
        }
        
        .article4Nosotros{
            
            padding-left: 2rem;

            .imagen4{
                display: flex;
                justify-content: center;
                img{
                    margin: 0px auto;
                    width: 90%;
                    margin-bottom: 1rem;                   
                }
                }

            .texto4{                
                text-align: center;             
            }

            .texto4 p{
                margin-top: 0.5em;
            }
        }

        .titulo2Nosotros{
            margin-top: -8em;
        }

}

/*MEDIA QUERIE TABLET HTML NOSOTROS*/

@media only screen and (min-width:601px) and (max-width:1200px){
    header{
        font-size: 0.62em;
    }
    .contenedorMainNosotros{
        display: grid;
        grid-template-areas: "titulo1"                             
                             "article1"
                             "article2"
                             "article3"
                             "article4"
                             "titulo2";
    
    } 
        .titulo1Nosotros{
            text-align: center;
            
            
            margin-left: 2em;          
        }     
    
        .article1Nosotros{    
            
           
            padding-left: 2rem;

            .imagen1{
                display: flex;
                justify-content: center;
                img{
                    margin: 0px auto;
                    
                    margin-bottom: 1rem;                   
                }
                }

            .texto1{
                text-align: center;             
            }           
                
        

            
            
            
        }
        
        .article2Nosotros{
            
            padding-left: 2rem;

            .imagen2{
                display: flex;
                justify-content: center;
                img{
                    margin: 0px auto;
                    
                    margin-bottom: 1rem;                   
                }
                }

            .texto2{
                text-align: center;             
            }
        }
        
        .article3Nosotros{
            
            padding-left: 2rem;

            .imagen3{
                display: flex;
                justify-content: center;
                img{
                    margin: 0px auto;
                    
                    margin-bottom: 1rem;                   
                }
                }

            .texto3{
                text-align: center;             
            }
        }
        
        .article4Nosotros{
            
            padding-left: 2rem;

            .imagen4{
                display: flex;
                justify-content: center;
                img{
                    margin: 0px auto;                   
                    margin-bottom: 1rem;                   
                }
                }

            .texto4{                
                text-align: center;             
            }
        }


}

