/*class para los items del formulario*/
.itemsFormulario {
    text-align: left;
    margin: 10px;
    color: blanchedalmond;
    padding: 5px;
}

.itemsFormulario1 {
    text-align: left;
    margin: 10px;
    padding: 5px;
    
}