/*HTML SERVICIOS GRIDS*/

.contenedorMainServicios{
    font-family: 'Roboto', sans-serif;
    background-color: $colorPrincipalMain;
    display: grid;
    grid-template-areas: "titulo1Servicios titulo1Servicios"
                         "section1Servicios img1Servicios"
                         "img2Servicios section2Servicios"
                         "section3Servicios img3Servicios"
                         "titulo2Servicios titulo2Servicios"
                         "sectionAlCapone sectionTonyMontana"
                         "sectionDonCorleone sectionDonCorleone";


        .titulo1Servicios{
            text-align: center;
            margin-top: 5rem;
            margin-bottom: 4rem;
            color: blanchedalmond;
            grid-area: titulo1Servicios;
        }
        .section1Servicios{
            grid-area: section1Servicios;
            margin-top: 2em;
            display: flex;
            flex-direction: column;
            article{
                h4{
                    margin-left: 10rem;
                }
            }                            
        }
        .img1Servicios{
            grid-area: img1Servicios;
            
            display: flex;
            margin-top: 4rem;
            margin-left: 1rem;            
            margin-bottom: 1em;
            transition: 0.5s;
                        &:hover{
                            transform: scale(1.05);
            }  
            img{
                border: solid 1px grey;
            }    
        }                        
        .section2Servicios{
            grid-area: section2Servicios;
            margin-top: 1em;
            display: flex;
            flex-direction: column;
        }                        
        .img2Servicios{
            grid-area: img2Servicios;
            display: flex;
            margin-top: 4rem;
            margin-left: 1rem;            
            margin-bottom: 1em;
            transition: 0.5s;
                        &:hover{
                            transform: scale(1.05);
                        &:hover{
                            transform: scale(1.05);
            }
        }
            img{
                border: solid 1px grey;

            }      
        }             
        .section3Servicios{
            grid-area: section3Servicios;
            margin-top: 1em;
            display: flex;
            flex-direction: column;
        }                        
        .img3Servicios{
            
            display: flex;
            margin-top: 4rem;
            margin-left: 1rem;            
            margin-bottom: 1em;
            transition: 0.5s;
                        &:hover{
                            transform: scale(1.05);
                        &:hover{
                            transform: scale(1.05);
            }
        }
            img{
                border: solid 1px grey;
        }
    }                        
        .titulo2Servicios{
            font-size: 2em;
            margin-top: 5em;
            margin-bottom: 4rem;
            color: blanchedalmond;
            text-align: center;
            grid-area: titulo2Servicios;
        }                        
        .sectionAlCapone{
            grid-area: sectionAlCapone;
            display: flex;
            flex-direction: column;
            justify-content: center;
            img{
                border: solid 1px grey;
                transition: 0.5s;
                    &:hover{
                        transform: scale(1.05);
                    }                          
            }
              
        }
        .sectionTonyMontana{
            grid-area: sectionTonyMontana;
            display: flex;
            flex-direction: column;
            justify-content: center;
            img{
                border: solid 1px grey;
                
                transition: 0.5s;
                        &:hover{
                            transform: scale(1.05);
                        }      
            }
            h4{
                
            }
        }

        .sectionDonCorleone{
            grid-area: sectionDonCorleone;
            display: flex;
            flex-direction: column;
            justify-content: center;
            img{            
                border: solid 1px grey;
                transition: 0.5s;
                &:hover{
                    transform: scale(1.05);
                }      
            }
            
        }
}
                        


/*MEDIA QUERIE MOBILE HTML SERVICIOS*/

@media only screen and (max-width:600px){
    .contenedorMainServicios{
        display: grid;
        grid-template-areas: "titulo1Servicios"
                             "img1Servicios"
                             "section1Servicios"
                             "img2Servicios" 
                             "section2Servicios"
                             "img3Servicios"
                             "section3Servicios"
                             "titulo2Servicios"
                             "sectionAlCapone"
                             "sectionTonyMontana"
                             "sectionDonCorleone";
    }







        .titulo1Servicios{
            article{
                margin: 0px;
                text-align: center;
            }
            
        }
        .img1Servicios{
            
            display: flex;
            justify-content: center;
            img{
                margin: 0px auto;
                
                margin-bottom: 1rem;                   
            }
        }
        .section1Servicios{
            margin-bottom: 1em;
        }
        .img2Servicios{
            display: flex;
            justify-content: center;
            
            img{
                margin: 0px auto;
                
                margin-bottom: 1rem;   
        }
        }
        .section2Servicios{
            
        }
        .img3Servicios{
            display: flex;
            justify-content: center;
            margin-bottom: 0rem;
        }
        .section1Servicios{
            
        }

        .sectionAlCapone{
            .imagenAlCapone{            
                display: flex;
                justify-content: center;
            }
            
                img{
                    margin: 0px auto;
                        
                }
              
        }

        .sectionTonyMontana{
            .imagenTonyMontana{            
            display: flex;
            justify-content: center;            
        }
            img{
                margin: 0px auto;;
            }
            
                
        }

        .sectionDonCorleone{
            .imagenDonCorleone{            
            display: flex;
            justify-content: center;            
        }
            img{
                margin: 0px auto;;
            }
            
                
        }
        
}